@media screen and (min-width:320px) and (max-width: 480px) {
    /*************  responsive du header *********** */
    
    .up p{
        display: none;
    }
    header .up .container {
        position: relative;
    }
    header .up .container .icons{
       position: absolute;
       top: 0;
       right: 0;
       width:30%;
       height: 100%;
       padding-right: 10px;
    }
    header .main .menu{
        display: flex;
        width: 25%;
        height: 60%;
        border: 1px solid  red;
        align-items: center;
        justify-content: center;
        margin-right: 6rem;
        
    }
    
    header .main .croix{
        display: none;
        width: 25%;
        height: 60%;
        border: 1px solid  red;
        align-items: center;
        justify-content: center;
        margin-right: 6rem;
    }
    header .main .croix img{
        width: 100%;
        height: 100%;
     
    }
    header .main .menu img{
        height: 80%;
        width: 80%;
    }
    .main{
        /* border: 4px solid green; */
    }
    .main .container{
       /*  border: 1px solid black; */
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: start;
       
    }
    .main .container ul{
      /*   border: 1px solid yellow; */
        flex-direction: column;
        display: none;
        background-color: #f3f3f3;
        position: absolute;
       /*  top: 60px; */
        left: 0;
        width: 100%;
        height: 200%;
        padding: 20px;
        z-index: 500;
    }
    .main .container ul .l1:hover ul{
        display: none;
    }
    .main .container ul .l1:active ul{
        display: none;
  
    }
    .main .container ul .l2:hover ul{
        display: none;
    }
    .main .container ul .l2:active ul{
        display: none;
  
    }
    .main .container ul .l3:hover ul{
        display: none;
    }
    .main .container ul .l3:active ul{
        display: none;
  
    }
    .main .container ul .c1:hover{
        background-color: white;
    }
    .main .container ul .c1::after{
        display: none;
    }
    .main .container ul li{
        width: 100%;
       /*  border: 1px solid blue; */
    }
    .main .container ul .c1 a{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
     /*    border: 1px solid red; */
    }
    .main .container ul li{
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .main .container ul.active{
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        
    }
    .main .container .recherche{
        display: none;
    }
    .main .container .logo{
        display: none;  
    }
    .main .container .logoresp{
        border: 1px solid red;
        width: 25%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main .container .logoresp img{
        height: 100%;
        width: 100%;
    }
    .main .container .loupe-r{
        border: 1px solid red;
        width: 20%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }
    /*  ********  fin du responsive du header ******** */


    .sec1{
        height: 30vh;
        border: 1px solid blue;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .sec1 .container{
        width: 100%;
    }
    .sec1 .container .right{
        display: none;
    }
    .sec1 .container .left{
        width: 100%;
        height: 100%;
    }
    .sec1 .container .left .banner{
        height: 90%;
       
    }
    .sec2 .container{
        width: 100%;
    }
    .sec2 .container .head{
        display: none;
    }
    .sec2 .container .foot{
        display: none;
    }
    /* *******  debut du caroussel ********* */
    .carousel-container {
        display: none;
        
    }
    .carousel-container-resp {
        display: flex;
        width: 80%;
        max-width: 1200px;
        overflow: hidden;
        position: relative;
    }
    .carousel-container-resp .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    .carousel-container-resp  .carousel-slide {
        flex: 0 0 100%;
        box-sizing: border-box;
        padding: 10px;
        position: relative;
    }
    .carousel-container-resp  .carousel-slide img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .carousel-container-resp  .carousel-slide:hover .overlay {
        opacity: 1;
    }
    .carousel-container-resp  .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: 10px;
    }
    .carousel-container-resp  .overlay span {
        color: white;
        background-color: blue;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
    }
    .carousel-container-resp  .indicators {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .carousel-container-resp  .indicator {
        width: 12px;
        height: 12px;
        margin: 0 5px;
        border-radius: 50%;
        background-color: #ccc;
        cursor: pointer;
    }
    .carousel-container-resp  .indicator.active {
        background-color: #007bff;
    }
    .carousel-container-resp  .control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        color: #007bff;
        cursor: pointer;
        z-index: 10;
    }
    .carousel-container-resp  .control.prev {
        left: 10px;
    }
    .carousel-container-resp  .control.next {
        right: 10px;
    }

    /* ********** fin du carroussel ************* */

    .act-resp{
        display: flex;
        height: 60vh;
        width: 100%;
        border: 1px solid blue;
    }
    .act-resp .right .act{
        display: none;
    }
    .act-resp .right .act1{
        height: 10%;
        width: 100%;
        border: 1px solid black;
        display: flex;
        gap: 0;
    }
    .act-resp .right .act1 .left-act{
        height: 100%;
        width: 30%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
    }
    .act-resp .right .act1 .left-act a{
        display: block;
        height: 100%;
        width: 100%;
    }
    .act-resp .right .act1 .right-act{
        height: 100%;
        width: 70%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    /* ************** */
    
  



    /* **************************** */
    .act-resp .right .act-active{
        height: 90%;
        width: 100%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .act-resp .right .act-active .left-act{
        height: 50%;
        width: 100%;
        border: 1px solid black;
    }
    .act-resp .right .act-active .left-act a{
        display: block;
        height: 100%;
        width: 100%;
    }
    .act-resp .right .act-active .left-act a img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .act-resp .right .act-active .right-act{
        height: 50%;
        width: 100%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .act-resp .right .act-active .right-act a{
        text-decoration: none;
        color: black;
    }
    .act-resp .right .act-active .right-act p{
        height: 30%;
        font-size: 18px;
        margin-top: 8px;
        padding-left: 5px;
    }
    .act-resp .right .act-active .right-act .down{
        height: 30%;
        width: 100%;
        border: 1px solid black;
        display: flex;
        align-items: flex-end;
        gap: 5px;
        padding-left: 5px;
    }
    
    .act-resp .right .act-active .right-act .down div{
        height: 25px;
        width: 25px;
        border: 1px solid black;
        
    }
    .act-resp .right .act-active .right-act .down div a{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .act-resp .right .act-active .right-act .down img{
        height: 80%;
        width: 80%;
        object-fit: cover;
    }

    /* ***responsive pour la sec suivante *********/
    .sec3{
        height: 120vh;
        border: 2px solid green;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec3 .container-sec3{
        height: 90%;
        width: 100%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 15px;
    }
    .sec3 .container-sec3 .head-sec3{
        height: 5%;
        width: 100%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bold;  
    }
    .sec3 .container-sec3 .main-sec3{
        height: 100%;
        width: 100%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        gap: 15px;
        
    }
    .sec3 .container-sec3 .main-sec3 .left-sec3 ,.sec3 .container-sec3 .main-sec3 .right-sec3{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    /*    left-sec3 */
   
    .sec3 .container-sec3 .main-sec3 .left-sec3  .l-sec3{
        height: 55%;
        width: 100%;
    }
    .sec3 .container-sec3 .main-sec3 .left-sec3  .r-sec3{
        height: 45%;
        width: 100%;
        border: 1px solid green;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sec3 .container-sec3 .main-sec3 .left-sec3  .r-sec3 .container{
        height: 75%;
        width: 100%;
        border: 1px solid green;
        padding-left: 10px;
    }
    .sec3 .container-sec3 .main-sec3 .left-sec3  .r-sec3 .container br{
        display: none;
    }
    .sec3 .container-sec3 .main-sec3 .left-sec3  .r-sec3 .container div{
       display: none;
    }
    .sec3 .container-sec3 .main-sec3 .left-sec3  .r-sec3 .container p:first-child{
        font-size: 20px;
        color: white;
    }
    .sec3 .container-sec3 .main-sec3 .left-sec3  .r-sec3 .container p:nth-of-type(2){
        font-size: 14px;
        color: white;
        display: block;
        width: 100%;
    }
    .sec3 .container-sec3 .main-sec3 .left-sec3  .r-sec3 .container button{
        background-color: #45ac23;
        color: white;
        border: 1px solid white;
        border-radius: 4px;
        height: 35%;
        width: 35%;
        margin-top: 10px;
    }
    .sec3 .container-sec3 .main-sec3 .left-sec3  .logo-sec3{
        display: none;
    }


    /* right sec3 */
    .sec3 .container-sec3 .main-sec3 .right-sec3  .l-sec3{
        height: 55%;
        width: 100%;
    }
    .sec3 .container-sec3 .main-sec3 .right-sec3  .r-sec3{
        height: 45%;
        width: 100%;
        border: 1px solid green;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sec3 .container-sec3 .main-sec3 .right-sec3  .r-sec3 .container{
        height: 75%;
        width: 100%;
        border: 1px solid green;
        padding-left: 10px;
    }
    .sec3 .container-sec3 .main-sec3 .right-sec3  .r-sec3 .container br{
        display: none;
    }
    .sec3 .container-sec3 .main-sec3 .right-sec3  .r-sec3 .container div{
       display: none;
    }
    .sec3 .container-sec3 .main-sec3 .right-sec3  .r-sec3 .container p:first-child{
        font-size: 20px;
        color: white;
    }
    .sec3 .container-sec3 .main-sec3 .right-sec3  .r-sec3 .container p:nth-of-type(2){
        font-size: 14px;
        color: white;
        display: block;
        width: 100%;
    }
    .sec3 .container-sec3 .main-sec3 .right-sec3  .r-sec3 .container button{
        background-color: #005baa;
        color: white;
        border: 1px solid white;
        border-radius: 4px;
        height: 35%;
        width: 35%;
        margin-top: 20px;
    }
    .sec3 .container-sec3 .main-sec3 .right-sec3  .logo-sec3{
        display: none;
    }

    /*  **************  responsive du footer ************* */
    footer{
        height: 75vh;
        border: 2px solid black;
    }
    footer .up-footer{
        height: 85%;
        background-color: #ebebeb;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .up-footer .up-footer-main{
        height: 100%;
        width: 100%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
    }
    footer .up-footer .up-footer-main .logo-footer{
        height: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }
    footer .up-footer .up-footer-main .logo-footer div{
        height: 100%;
        width: 50%;
        border: 1px solid black;
    }
    footer .up-footer .up-footer-main .texte1{
        height: 30%;
    }
    footer .up-footer .up-footer-main .texte2{
        height: 30%;
    }
    footer .up-footer .up-footer-main .rs{
        height: 20%;
    }
    footer .up-footer .up-footer-main .logo-footer , footer .up-footer .up-footer-main .logo-footer ~ div{
        width: 100%;
        padding-left: 10px;
    }
    footer .down-footer{
        height: 15%;
        background-color:#005baa ;
        display: flex;
        justify-content: center;
    }
    footer .down-footer .down-footer-main{
        height: 100%;
        width: 100%;
        border: 1px solid yellow;
        display: flex;
        flex-direction: column;
    
    }
    footer .down-footer .down-footer-main .left-down{
        font-size: 10px;
        display: flex;
        gap: 10px;
    }
    footer .down-footer .down-footer-main .right-down{
        font-size: 10px;
        display: flex;
        gap: 10px;
    }
    footer .down-footer .down-footer-main .left-down , footer .down-footer .down-footer-main .right-down{
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /*  ************** fin du responsive du footer ******** */
}